body {
    background-color: black;
    margin: 0;
    padding: 0;
}
.body {
    text-align: center;
    padding: 20px;
}




#milk-bottle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
    vertical-align: middle;
}
.body a  {
    display: block;
    line-height: 0;
}
@media (max-width: 768px) {
    #milk-bottle {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #milk-bottle {
        width: 95%;
    }
}
