body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.body {
    width: 100%;
    text-align: center;
    
}




#milk-bottle {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
}
.body a  {
    display: block;
    line-height: 0;
}
@media (max-width: 768px) {
    #milk-bottle {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #milk-bottle {
        width: 85%;
    }
}
